# Dependencies
/node_modules
/.pnp
.pnp.*

# Next.js & Build Output
/.next/
/out/
/build
*.tsbuildinfo
next-env.d.ts

# Temporary & Debug
.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
/scratch/

# Environment Secret Files
.env
.env*.local
.env.local

# Local SQLite Databases
/database.sqlite
/database.sqlite.bak
*.sqlite
*.sqlite.bak

# Large Data & Excel Files
*.xlsx
*.xls
*.csv

# Vercel
.vercel
